* {
  margin: 0;
  padding: 0;
}
.taipy-dark {
  background-image: url("/static/images/surveillance_systems.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  box-sizing: border-box;
}

#anomaly {
  position: relative;
  /* margin: auto; */
  border-style: solid;
  height: 100vh;
  width: 100vw;
  top: 300px;
  border-color: hsl(248, 83%, 14%);
  background-color: hsl(248, 83%, 14%);
  font-size: large;
  padding: 20px;
}

.taipy-part {
  margin: auto;
  position: relative;
}

.MuiBox-root css-0 {
  /*the class name is .MuiBox-root.css-0 according to the html inspection*/
  width: inherit;
  align-self: center;
  margin: auto;
  min-width: fit-content;
}
