* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/static/images/surveillance_systems.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  box-sizing: border-box;
}

.text-center .md-para {
  /* width: 100vw;
  height: 100vh; */
  /* max-width: max-content; */
  margin: auto;
  align-items: center;
  position: relative;
}
#anomaly {
  position: relative;
  align-items: center;
  margin: 0 auto;
  border-style: solid;
  top: 500px;
  border-color: hsl(248, 83%, 14%);
  background-color: hsl(248, 83%, 14%);
  font-size: large;
  padding: 50px;
}
#video-file-upload-file {
  position: relative;
  top: 400px;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
